body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(
    ellipse at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  font-weight: 600;
}

.wid {
  width: 200px;
  height: 200px;
}

.wide {
  width: 150px;
  height: 150px;
}

.cpuStyle {
  background-color: rgb(22, 30, 59);
  outline-color: rgb(22, 30, 59);
  color: rgb(22, 30, 59);
  border-color: rgb(22, 30, 59);
}

.scoreT {
  color: hsl(229, 64%, 46%);
}

.darkT {
  color: hsl(229, 25%, 31%);
}

.space {
  margin-top: 150px;
}

.headerOutline {
  color: hsl(217, 16%, 45%);
  border-color: hsl(217, 16%, 45%);
  background-color: hsl(217, 16%, 45%);
}

.rock {
  background: radial-gradient(
    ellipse at top,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
}

.scissors {
  background: radial-gradient(
    ellipse at top,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
}

.spock {
  background: radial-gradient(
    ellipse at top,
    hsl(189, 59%, 53%),
    hsl(189, 58%, 57%)
  );
}

.paper {
  background: radial-gradient(
    ellipse at top,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
}

.lizard {
  background: radial-gradient(
    ellipse at top,
    hsl(261, 73%, 60%),
    hsl(261, 72%, 63%)
  );
}
